body {
    font-family: Arial, sans-serif;
    background-color: rgb(182, 182, 182);
    margin: 0;
    padding: 0;
}

#conteudo {
    background-color: rgb(182, 182, 182);
}

.cabecalho {
    background-color: rgb(131, 130, 130);
    padding: 20px;
    text-align: center;
}

.sair {
    background: rgb(250, 79, 79);
    text-decoration: none;
    border-radius: 10px;
    padding: 8px 12px;
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}


/* .sair > a {
        color: white;
        text-decoration: none;
} */